*{
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --strong-cyan : hsl(171, 66%, 44%);
    --light-blue : hsl(233, 100%, 69%);
    --dark-grayish-blue : hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    
    --ff-font : 'Bai Jamjuree', sans-serif;
}



/* ======= header ======== */

.header-container{
    text-align: center;
    font-family: var(--ff-font);
}

.header-bg{
    background-image: url(images/bg-header-desktop.png);
    padding-top: 6em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo-img{
    margin-bottom: 2em;
} 

.header-title{
    font-size: 2.3em;
    color: var(--dark-grayish-blue);
    margin-bottom: .4em;
}

.header-content{
    width: 45%;
    font-size: .9em;
    margin: 0 auto;
    letter-spacing: 1px;
    line-height: 1.4;
    margin-bottom: 3em;
    color: var(--grayish-blue);
}

.header-btn{
    margin-right: .6em;
    text-decoration: none;
    padding: .6em 1.4em;
    border-radius: 4em;
    color: #fff;
}

.btn-cyan{
    background-color: var(--strong-cyan);
}

.btn-cyan:hover{
    box-shadow: 0px 2px 6px var(--strong-cyan);
}

.btn-blue{
    background-color: var(--light-blue)
}

.btn-blue:hover{
    box-shadow: 0px 2px 6px var(--light-blue);
}


/* ====== section-one ======= */

.section-one{
    text-align: center;
    margin-top: 6em;
    font-family: var(--ff-font);
    margin-bottom: 4em;
}

.section-one-heading{
    font-size: 2.2em;
    margin-bottom: .6em;
    color: var(--dark-grayish-blue);
}

.section-one-content{
    width: 45%;
    margin: 0 auto;
    color: var(--grayish-blue);
    line-height: 1.6;
}


/* ======section-two ======== */

.flex-container{
    display: flex;
    align-items: center;
    font-family: var(--ff-font);
}

.section-two-image{
    margin-left: -2em;
    margin-right: 2em;
    width: 90%;
}

.quick-search,
.icloud-sync,
.complete-history{
    margin-bottom: 2em;
}

.quick-search > h3,
.icloud-sync > h3,
.complete-history > h3{
    margin-bottom: .6em;
    color: var(--dark-grayish-blue);
}

.quick-search > p,
.icloud-sync > p,
.complete-history > p{
    width: 60%;
    line-height: 1.6;
    color: var(--grayish-blue);
}


/* ======= section-three ======= */

.section-three{
    text-align: center;
    font-family: var(--ff-font);
    margin: 6em 0;
}

.section-three-heading{
    font-size: 2.2em;
    color: var(--dark-grayish-blue);
}

.section-three-content{
    width: 45%;
    margin: 0 auto;
    color: var(--grayish-blue);
    margin-bottom: 4em;
    margin-top: 1em;
    line-height: 1.6;
}

.section-three-image{
    width: 60%;
}

/* ======= section-four ======== */

.section-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--ff-font);
    text-align: center;
}

.section-four-container{
    margin-bottom: 2em;
}

.section-four-container > h3{
    color: var(--dark-grayish-blue);
    font-size: 2.2em;
    margin-bottom: .4em;
}

.section-four-container > p{
    color: var(--grayish-blue);
}

.section-four-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-right: 10em;
}

.section-four-heading{
    color: var(--dark-grayish-blue);
    margin-bottom: 1em;
}

.section-four-content{
    width: 70%;
    margin: 0 auto;
    color: var(--grayish-blue);
    line-height: 1.6;
}


/* ======== section five ========== */

.section-five-images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 6em 0;
    gap: 2em;
}

.section-five-images img{
    margin-right: 4em;
}


/* ======== section-six ======== */

.section-six{
    text-align: center;
    font-family: var(--ff-font);
}

.section-six-heading{
    font-size: 2.3em;
    color: var(--dark-grayish-blue);
    margin-bottom: .4em;
}

.section-six-content{
    width: 45%;
    margin: 0 auto;
    color: var(--grayish-blue);
    margin-bottom: 1.4em;
    line-height: 1.5;
}

.section-six-btn{
    margin-right: .6em;
    text-decoration: none;
    padding: .6em 1.4em;
    border-radius: 4em;
    color: #fff;
}


/* ========= footer =========== */

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--ff-font);
    background-color: rgba(203, 204, 204, .25);
    margin-top: 8em;
    padding: 2.8em 0;
}

.footer-logo-img{
    width: 4em;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 30em;
    color: var(--dark-grayish-blue);
    line-height: 2.4;
}

.footer-content > p{
    margin-right: 4em;
    cursor: pointer;
}

.footer-content > p:hover{
    color: var(--strong-cyan);
}

.links{
    font-size: 1.8em;
}

.links > a{
    margin-right: 1em;
    color: var(--dark-grayish-blue);
}

.link-facebook:hover,
.link-twitter:hover,
.link-instagram:hover{
    color: var(--strong-cyan);
}


/* =========== Mobile ========== */


@media(max-width: 32em){
    body{
        min-width: 450px;
    }

    /*======= header ======== */

   .header-bg{
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
   }

   .header-title{
    font-size: 2.1em;
    width: 80%;
    margin: 0 auto;
   }

   .header-content{
    margin-top: .8em;
    width: 80%;
    line-height: 1.6;
   }

   .header-btn{
    padding: .8em 0;
   }

   .btn{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
   }

   .btn-cyan{
    margin-bottom: .8em;
   }


   /* ======== section-one ======== */

   .section-one-heading{
    font-size: 1.8em;
    width: 70%;
    margin: 0 auto;
    margin-bottom: .6em;
   }

   .section-one-content{
    width: 70%;
    line-height: 1.6;
   }

   /* ======== section-two ========= */

   .flex-container{
    flex-direction: column;
    text-align: center;
   }

   .section-two-image{
    margin: 0;
    margin-bottom: 2.4em;
   }

   .quick-search > h3,
   .icloud-sync > h3,
   .complete-history > h3{
    font-size: 1.6em;
   }

   .quick-search > p,
   .icloud-sync > p,
   .complete-history > p{
    width: 70%;
    margin: 0 auto;
    line-height: 1.6;
   }


   /* ======= section-three ======== */

   .section-three-content{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 4em;
    margin-top: 2em;
   }

   .section-three-image{
    width: 90%;
   }


   /* ======== section-four ======== */

   .section-four-container > h3{
    font-size: 1.8em;
    width: 80%;
    margin: 0 auto;
    margin-bottom: .6em;
   }

   .section-four-container > p{
    width: 70%;
    margin: 0 auto;
    line-height: 1.6;
   }

   .section-four-flex{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3em;
   }

   .section-four-heading{
    font-size: 1.8em;
    margin-bottom: .6em;
   }

   .blacklist,
   .text,
   .preview{
    margin-bottom: 4em;
   }


   /* ======== section-five ======== */

   .section-five-images{
    flex-direction: column;
    margin: 0 auto;
   }

   .section-five-images > img{
    margin-bottom: 4em;
    margin-right: 0;
   }


   /* ======== section-six ========= */

   .section-six-heading{
    font-size: 1.8em;
    width: 70%;
    margin: 0 auto;
    margin-bottom: .8em;
   }

   .section-six-content{
    width: 65%;
    line-height: 1.8;
   }

   .section-six-btn{
    padding: .8em 0;
   }


   /* ======== footer ======= */

   .footer-container,
   .footer-content{
    flex-direction: column;
   }

   .footer-logo-img{
    width: 3.25em;
   }

   .footer-content{
    margin: 1.8em 0;
   }

   .footer-content > p{
    margin-right: 0;
   }

   .links{
    font-size: 1.55em;
   }

   .links > a{
    margin: 0 .6em;
   }
}
